STRING_SESSION1 = BQAaEL7_I7DcoaxrCbtaG1VAVqEH8ad4rP_u6nHXxQZ5V6m3OZE_Obxat_sWffA9KpSy06qt9Dqf315oDwcoMNMJUUjqdy6C04m7bJDZLMroeJkn3vef8V1sX6EKx-C-uAT3O12NS4gvMRelEl_ilsepjbEHKESSoUvWwz-YUc0ItJuigB0mjAmnGyGdEr6XexfSOoUBGWqlwrQs26fJvOomQNqvJZ3IugvE7bwBE5hGkcVBhr0WaFtGoVxPZgxUORWSKlf2KUvjmb4FxGGALTRsEU0UKSzMSTgV-3X4_agTAdc1QpiHqDMJgD81wtPCwNz0Zy7NhIBmE4wLuo8DZltgaBIHywA
LOG_SESSION = BQAaEL7_I7DcoaxrCbtaG1VAVqEH8ad4rP_u6nHXxQZ5V6m3OZE_Obxat_sWffA9KpSy06qt9Dqf315oDwcoMNMJUUjqdy6C04m7bJDZLMroeJkn3vef8V1sX6EKx-C-uAT3O12NS4gvMRelEl_ilsepjbEHKESSoUvWwz-YUc0ItJuigB0mjAmnGyGdEr6XexfSOoUBGWqlwrQs26fJvOomQNqvJZ3IugvE7bwBE5hGkcVBhr0WaFtGoVxPZgxUORWSKlf2KUvjmb4FxGGALTRsEU0UKSzMSTgV-3X4_agTAdc1QpiHqDMJgD81wtPCwNz0Zy7NhIBmE4wLuo8DZltgaBIHywA
API_ID = 4524065
API_HASH = 025df0a9fbd5ce6353944e791beeb3d2
BOT_TOKEN = 1840363934:AAG__5Q_YEKTfmyurlcsNW_ryBEwVSQbdnU
SUDO_USERS = 1663657124 
MONGO_DB_URI = mongodb+srv://ammayy:redminote8.@cluster0.vqxnp.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID = -1001323421994
MUSIC_BOT_NAME = Steady Music
OWNER_ID = 1663657124
DURATION_LIMIT = 240
SUPPORT_CHANNEL = https://t.me/vecekayehhh
SUPPORT_GROUP = https://t.me/virtualmutualangroup
ASSISTANT_PREFIX = .
